.inline1{
   display: inline-block;
   height: 150px;
   width: 230px;
   border: 3px solid;
   margin-right: 60px;
}
.inline2{
   display: inline-block;
   height: 150px;
   width: 230px;
   border: 3px solid;
} 
.inline3{
   display: inline-block;
   height: 150px;
   width: 230px;
   border: 3px solid;
   margin-right: 60px;
   margin-top: 80px;
}
.inline4{
   display: inline-block;
   height: 150px;
   width: 230px;  
   border: 3px solid;
   margin-top: 80px;
}
.inline1:hover{
   border: 5px dashed;
   border-radius: 10px;
   background-color: blueviolet;
} 
.inline1:active{
   border: 5px dotted;
   border-radius: 30px;
   background-color: rgb(38, 0, 255);
}
.inline2:hover{
   border: 5px double;
   border-radius: 20px;
   background-color: rgb(251, 255, 0);
} 
.inline2:active{
   border: 5px groove;
   border-radius: 100px;
   background-color: rgb(255, 0, 0);
}
.inline3:hover{
   border: 5px ridge;
   border-color: cornflowerblue;
   border-radius: 3px;
   background-color: rgba(0, 195, 255, 0.61);
} 
.inline3:active{
   border: 5px ridge;
   border-color: darkgoldenrod;
   border-radius: 10px;
   background-color: rgb(224, 133, 12);
}
.inline4:hover{
   border: 5px inset;
   border-radius: 100px;
   background-color: rgb(162, 0, 255);
} 
.inline4:active{
   border: 5px outset;
   border-radius: 20px;
   background-color: rgb(0, 0, 0);
}
